
RewriteEngine on
#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP:X-Forwarded-SSL} !on
#RewriteCond %{HTTP_HOST} ^askme\.id$ [OR]
#RewriteCond %{HTTP_HOST} ^www\.askme\.id$
#RewriteRule ^/?$ "https\:\/\/askme\.id\/" [R=301,L]
RewriteCond $1 !^(index\\.php|resources|robots\\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?/$1 [L,QSA]
