html {
	min-height: 100%;	
}
.nda {
	padding: 50px;
}
.mulai:hover {
	background-color: #3472F7;
	color: #fff;
}
.bawah{
	padding-top: 50px;
	text-align: center;
	/*background-color: blue;*/
}
.thanks {
	width: 5%;
}
.sideatas {
	font-size:24px;text-decoration:none;color:rgb(5,91,175);padding:30 0 30 0;
}